.processorCarouselPanel {
  background: #3A3F44;
  margin: 15px;
  padding: 15px;
  height: auto;
  border-radius: 5px;
}

.carousel{
  margin-top: 10px;
}
.carousel-inner{
  margin-top: 5px;
}

.processorCarouselInner{
  padding-left: 15px;
  padding-right: 15px;
}

.myListItemField {
  background: whitesmoke;
  float: left;
  border-radius: 10px;
  margin: 5px;
}


.zoomProcessorContainer{
  margin: 20px;
}

.carousel-control{
  top: 15px;
  bottom: auto;
}

.dxBOX{
  margin: 15px;
  height: 100%;
  position: relative;
  padding: 15px;
  border-radius: 5px;
}
