<h3 class="yellowSubHeader">Вы выбрали дефолтный чарт: карточка </h3>

<div class="label label-default col-sm-2"
     ng-class="{'label-danger' : textConfig.importance=='danger', 'label-success' : textConfig.importance=='success', 'label-info' : textConfig.importance=='info' }"
     style="margin-right: 15px">Важность
</div>
<input type="text" ng-model="textConfig.importance" class="input-sm "/>
<br/>
<br/>
<span class="label label-default col-sm-2" style="margin-right: 15px">Текст</span>
<textarea type="text" ng-model="textConfig.caption" class="input-sm col-sm-9 "/>
