<div style="margin: 20px">
  <h3 class="yellowSubHeader">Вы выбрали дефолтный чарт: карта </h3>

  <div id="size">
    <h4 class="yellowSubHeader">Размеры</h4>

    <div class="row">
      <div class="label label-default col-sm-2" style="margin-right: 15px">Карта</div>
      <select ng-model="mapArea" ng-options="map.location as map.name for map in mapAreas"
              class="input-sm"></select>
    </div>
    <div class="row">
      <div class="label label-default col-sm-2" style="margin-right: 15px">Точность</div>
      <input ng-model="mapConfig.precision" class="input-sm"/>
    </div>
    <div class="row">
      <div class="label label-default col-sm-2" style="margin-right: 15px">Увеличение</div>
      <input ng-model="mapConfig.zoom" class="input-sm"/>
    </div>
    <div class="row">
      <div class="label label-default col-sm-2" style="margin-right: 15px">Центр</div>
      <div class="label label-default" style="margin: 25px">широта</div>
      <input ng-model="mapConfig.center[0]" class="input-sm"/>

      <div class="label label-default" style="margin: 25px">долгота</div>
      <input ng-model="mapConfig.center[1]" class="input-sm"/>
    </div>
  </div>

  <div id="markers" class="row">
    <hr class=""/>
    <h4 class="yellowSubHeader">Маркеры</h4>

    <a class="btn btn-default" ng-class="{'activechart' : mapConfig.markers.enabled}"
       ng-model="mapConfig.markers.enabled" ng-click="mapConfig.markers.enabled=!mapConfig.markers.enabled">Включены</a>

    <div class="row col-sm-12" ng-show="mapConfig.markers.enabled">
      <div class="row col-sm-12">
        <div class="label label-default col-sm-2" style="margin-right: 15px">Тип</div>
        <select ng-model="mapConfig.markers.mapMarkerType"
                ng-options="marker.type as marker.name for marker in markerTypes"
                class="input-sm"/>
      </div>
      <div class="row ">
        <div class=" col-sm-6">
          <div class="label label-default" style="margin-right: 15px">Имена маркеров</div>
          <div class="row">
            <ul class="list-group ">
              <li class="list-group-item"><a class="btn btn-default" ng-click="addNewMarker()"><i
                class="fa fa-plus-square fa-2x"></i>Новый маркер</a></li>
              <li ng-repeat="marker in mapConfig.markers.markerValuesNames track by $index" class="list-group-item" ng-dblclick="mapConfig.markers.markerValuesNames.splice($index, 1)">
                <span class="badge">{{ $index + 1}}</span>
                <input ng-model="marker" class="input-sm"/>
              </li>
            </ul>
          </div>
        </div>

        <div class=" col-sm-6">
          <div class="label label-default" style="margin-right: 15px">Группировать в</div>
          <div class="row ">
            <ul class="list-group">
              <li class="list-group-item"><a class="btn btn-default" ng-click="addNewSize()"><i
                class="fa fa-plus-square fa-2x"></i>Новая группа маркера</a></li>
              <li ng-repeat="size in mapConfig.markers.sizeGroups track by $index" class="list-group-item" ng-dblclick="mapConfig.markers.sizeGroups.splice($index, 1)">
                <span class="badge">{{ $index + 1}}</span>
                <input ng-model="size" class="input-sm"/>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="groups" class="row">
    <hr class=""/>
    <h4 class="yellowSubHeader">Группы</h4>

    <a class="btn btn-default" ng-class="{'activechart' : mapConfig.grouping.enabled}"
       ng-model="mapConfig.markers.enabled" ng-click="mapConfig.grouping.enabled=!mapConfig.grouping.enabled">Включены</a>

    <div class="row col-sm-12" ng-show="mapConfig.grouping.enabled">
      <div class="row col-sm-12">
        <div class="label label-default col-sm-2" style="margin-right: 15px">Палитра</div>
        <select ng-model="mapConfig.grouping.palette"
                ng-options="palette for palette in paletteTypes"
                class="input-sm"/>
      </div>
      <div class="row ">
        <div class=" col-sm-6">
          <div class="label label-default" style="margin-right: 15px">Группы значений</div>
          <div class="row">
            <ul class="list-group ">
              <li class="list-group-item"><a class="btn btn-default" ng-click="addNewGroup()"><i
                class="fa fa-plus-square fa-2x"></i>Новая группа значений</a></li>
              <li ng-repeat="group in mapConfig.grouping.groups track by $index" class="list-group-item" ng-dblclick="mapConfig.grouping.groups.splice($index, 1)">
                <span class="badge">{{ $index + 1}}</span>
                <input ng-model="group" class="input-sm"/>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
