<div class=" zoomProcessorContainer ">


  <div id="zoomProcessorBottomPanel" style="margin: 15px; margin-bottom:5px; padding: 5px">

    <span class="label label-default col-sm-2" style="margin-right: 15px">Имя процессора</span>

    <div class="row" resizable r-directions="['bottom']" style="min-height: 60px; height: 100%">
      <textarea type="text" ng-model="newName" placeholder="Имя нового процессора" class="input-lg col-sm-12"
                style="height: 100%; border: 0px"/>
    </div>

    <div class="row">
      <div id="footer" class=" modal-footer" style="padding: 5px">
        <a class="btn btn-danger" ng-click="apply()">Применить</a>
        <a class="btn btn-success" ng-click="ok()">Сохранить</a>
        <a class="btn btn-warning" ng-click="cancel()">Отмена</a>
      </div>
    </div>


  </div>

  <div id="zoomProcessorSettingsPanel" class="row" ng-include="'app/NewProcessor/ProcessorSettingsCarousel.html'"></div>

  <div class="dxBOX" ng-show="newProcCfg.settings.tableConfig.table == 'simple'" resizable r-directions="['bottom', 'top']" >
    <div id="simpleTable" style="height:100%;"></div>
  </div>

  <!--btn to jump up-->
  <a class="btn btn-default"  ng-click="scrollToTop()"><i class="fa fa-arrow-circle-up fa-2x"></i></a>

  <div class="dxBOX" ng-show="newProcCfg.settings.tableConfig.table == 'pivot'" resizable r-directions="['bottom', 'top']" >
    <div id="pivotTable" style="height:100%;"></div>
  </div>

  <!--btn to jump up-->
  <a class="btn btn-default"  ng-click="scrollToTop()"><i class="fa fa-arrow-circle-up fa-2x"></i></a>

  <div class="dxBOX" ng-show="newProcCfg.settings.defaultKind != 'table'" resizable r-directions="['bottom', 'top', 'left', 'right']" >
    <div id="chart" style="height:100%;"></div>
  </div>
</div>



