<div class=" zoomProcessorContainer">


  <div id="zoomProcessorBottomPanel" style="margin: 15px; margin-bottom:5px; padding: 5px">



    <div class="row">
      <div id="footer" class=" modal-footer" style="padding: 5px">
        <a class="btn btn-danger" ng-click="apply()">Применить</a>
        <a class="btn btn-info" ng-click="save()">Сохранить</a>
        <a class="btn btn-success" ng-click="ok()">Выход</a>
        <a class="btn btn-warning" ng-click="cancel()">Отмена</a>
      </div>
    </div>


  </div>

  <div id="zoomProcessorSettingsPanel"  class="row" ng-include="'app/NewProcessor/ProcessorSettingsCarousel.html'"></div>


  <div class="dxBOX" ng-show="whoIsActive != 'table'" resizable r-directions="['bottom', 'top', 'left', 'right']" >
    <div id="chart" style="height:100%;">
      <small > Примените изменения, чтобы нарисовать чарт</small>
    </div>
    <a  class="btn btn-default"   ng-click="scrollToTop()"><i class="fa fa-arrow-circle-up fa-2x"></i>Наверх</a>
  </div>

  <div class="dxBOX" ng-show="defaultTable == 'simple'" resizable r-directions="['bottom', 'top']" >
    <div id="simpleTable" style="height:100%;">
      <small > Примените изменения, чтобы отобразить таблицу</small>
    </div>
    <!--btn to jump up-->
    <a  class="btn btn-default"   ng-click="scrollToTop()"><i class="fa fa-arrow-circle-up fa-2x"></i>Наверх</a>
  </div>



  <div class="dxBOX" ng-show="defaultTable == 'pivot'" resizable r-directions="['bottom', 'top']" >
    <div id="pivotTable" style="height:100%;">
      <small > Примените изменения, чтобы отобразить таблицу</small>
    </div>
    <!--btn to jump up-->
    <a class="btn btn-default"  ng-click="scrollToTop()"><i class="fa fa-arrow-circle-up fa-2x"></i>Наверх</a>
  </div>


</div>



